.register .register-cont {
  width: auto;
  height: auto;
  padding-top: 32px;
  padding-bottom: 64px;
  background-color: #f2f2f7;
  display: flex;
  justify-content: center;
}
.register h1 {
  text-align: center;
  padding: 32px 0px;
}
.register .logo {
  width: 100%;
  height: 48px;
  background-color: #f2f2f7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #707070;
}
.register .register-cont .item {
  max-width: 400px;
  height: auto;
}
