.searchHotel{
    width: 100%;
    min-width: 1024px;
    margin-top: 48px;
    background-color: var(--bg-secondary);
}
.search-hotel-container{
    max-width: 1024px;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

