@font-face {
  font-family: "sf_regular";
  src: url('./asset/font/sf_regular.OTF');
}

@font-face {
  font-family: "sf_medium";
  src: url('./asset/font/sf_medium.OTF');
}

@font-face {
  font-family: "sf_bold";
  src: url('./asset/font/sf_bold.OTF');
}

:root{
  --bg-primary: #FFFFFF;
  --bg-secondary: #F2F2F7;
  --bg-tertiary: #E5E5EA;
  --stroke: #707070;

  --red:#FF3B30;
  --blue:#007AFF;
  --orange:#FF9500;
  --green:#34C759;
  --yellow:#FFCC00;

  --text-primary:#000000;
  --text-secondary:rgba(60, 60, 67,0.6);
  --text-tertiary:rgba(60, 60, 67,0.3);
  --text-quarternary:rgba(60, 60, 67,0.18);

  --seperator-primary:rgba(84, 84, 85,0.65);
  --seperator-secondary:rgba(60, 60, 67,0.36);
}

*{
  margin: 0;
  padding: 0;
  color: var(--text-primary);
}

a{
  text-decoration: none;
}

ul{
  text-decoration-style: none;
  list-style: none;
}


body {
  margin: 0;
  font-family: 'sf_regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-primary);
}
